@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body *:not(.fa) {
	font-family: 'Open Sans', Arial, sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}

#page-wrapper {
	position: relative;
	min-height: 100%;
}

#page-header,
#page-content,
#page-footer {
	padding-left: 20px;
	padding-right: 20px;
}

#page-content {
	padding-bottom: 100px;
}

#page-footer {
	position: absolute;
	width: 100%;
	height: 100px;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	bottom: 0;
	left: 0;
}

.admin-functionality-box {
	display: none;
}



.btn {
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	border-radius: 5px;
	color: white;
	background-color: transparent;
	font-size: 13pt;
	cursor: pointer;
	transition: color 0.2s ease-in-out,
		background-color 0.2s ease-in-out;
}

.btn:active {
	box-shadow: 0 1px 25px rgba(255, 255, 255, 0.5);
}

.btn:hover {
	color: black;
	background-color: white;
}

.cat-clicker-admin > .btn-admin,
.cat-clicker-admin > .admin-functionality-box {
	display: inline-block;
	vertical-align: top;
}

.cat-clicker-admin > .admin-functionality-box {
	margin-left: 20px;
}

.cat-clicker > .cat-clicker-photo > img {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	padding: 2px;
	transition: all 0.2s ease-in-out;
}

.cat-clicker > .cat-clicker-photo > img:hover {
	box-shadow: 0 3px 20px rgba(255, 255, 255, 0.5);
}

.cat-clicker > .cat-clicker-photo > img:hover {
	cursor: pointer;
}

.cat-list {
	padding: 0;
	list-style-type: none;
	font-size: 0;
}

.cat-list > .list {
	padding: 5px;
	font-size: 12pt;
}

.cat-list > .list:hover {
	cursor: pointer;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	transition: all 0.2s ease-in-out;
}

.form-control,
.form-control:focus {
	outline: none;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	padding: 5px;
}

.form-control:focus {
	border-color: #0099FF;
	box-shadow: 0 1px 15px #0099FF;
	transition: box-shadow 0.2s ease-in-out,
		border 0.2s ease-in-out;
}

.pull-right {
	float: right;
}

.table caption {
	font-weight: bold;
	font-size: 18pt;
	text-align: left;
}

.table th, .table td {
	text-align: left;
	padding: 2px;
	padding-left: 0;
	padding-right: 6px;
}

.text-center,
.table th.text-center,
.table td.text-center {
	text-align: center;
}

.text-right,
.table th.text-right,
.table td.text-right {
	text-align: right;
}